// .ivu-col{
//   height: 80px;
// }
.config-page-wrapper {
  overflow-y: hidden;
  overflow-x: auto;
}
.config-page{
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 120px;
}
.ivu-card{
  min-width: 990px;
}
// .ivu-layout-content{
//   overflow: auto;
// }
// .ivu-layout-content::-webkit-scrollbar {
//   display:none
// }
.ivu-layout-sider-children {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.baseDataTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e9eaec;
  color: #495060;
  font-size: 12px;
  background-color: #fff;
  td,th {
    min-width: 0;
    width: 40%;
    height: 48px;
    padding-left: 18px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .speTd {
    width: 10%;
    background-color: #f8f8f9;
  }
  .imgTd{
    width: 100%;
  }
}
.module-content:hover .operate-list {
  display: inline;
}
.operate-list{
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
}
.details {
  position: relative;
  margin-bottom: 50px;
  .ivu-card {
    margin-bottom: 15px;
  }
}
.footer-tools{
  position: fixed;
  bottom: 0;
  left: 210px;
  right: 0;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  text-align: right;
  padding: 0 20px;
}
.ivu-date-picker{
  width: 100%;
}
// 统一设置表单元素最小高度
.ivu-col{
  min-height: 80px;
}

.btn-add{
  width: 80px;
  height: 24px;
  line-height: 24px;
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px dashed #dddee1;
}
.btn-add:focus{
  border: 1px dashed #57a3f3;
  outline: none;
}
// 单行省略号
.single-ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
// 多行省略号
//.multi-ellipsis(@num: 2){
//  display: -webkit-box;
//  -webkit-box-orient: vertical;
//  -webkit-line-clamp: @num;
//  overflow: hidden;
//}
.multi-ellipsis-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.note-modal,.change-fee-modal{
  p{
    line-height: 2;
  }
}
.change-fee-modal .ivu-modal-body{
  label{
    display: inline-block;
    width:60px;
  }
  span{
    display: inline-block;
    color: #FF3B41;
  }
  /deep/ .ivu-input-wrapper{
    width:98px;
  }
}
.confirm-pay-modal .ivu-modal-body{
  p{
    line-height: 2;
  }
  p.confirm-text{
    font-weight: bold;
    font-size: 16px;
    span{
      color: #FF3B41;
    }
  }
}
@media only screen and (max-width: 1500px) {
  .layout-column {
    width: 904px;
  }
}
@media only screen and (min-width: 1500px ) {
  .layout-column{
    width: 1130px;
  }
}
.layout-column{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.layout-cell{
  width: 210px;
  margin: 0 8px;
}
